@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* ------------------------header------------------------ */

  .mob-button {
    display: none;
  }

  .page-header > .container {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 76px;
  }

  .nav-list {
    position: relative;
  }

  .header-nav {
    display: flex;
  }

  .site-nav {
    display: flex;
    gap: 40px;
  }

  .auth-nav {
    display: flex;
    justify-content: end;
    gap: 40px;
  }

  .logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
  }

  .header-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
  }

  .address {
    display: block;
    margin-left: auto;
  }

  .current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--button-hover);
  }

  .current {
    color: var(--button-hover);
  }

  /* ------------------------hero------------------------ */

  .hero {
    width: 1158px;
    padding-top: 120px;
    padding-bottom: 120px;

    background-image: var(--grad), url(../images/img-1x/laptop-img/dark-bg.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--grad),
        url(../images/img-2x/laptop-img-2x/dark-bg-2x.jpg);
    }
  }

  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: calc(60 / 56);
    margin-bottom: 48px;
  }

  /* ------------------------ order ------------------------ */

  .order-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .order-list > li {
    flex-basis: calc((100% - 24px * 3) / 4);
  }

  .list-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: var(--logo-footer);
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .order-list > .list:nth-child(-n + 2),
  .list:not(:last-child) {
    margin-bottom: 0;
  }

  .order-title {
    font-size: 16px;
    line-height: calc(24 / 16);
    text-align: inherit;
  }

  .order-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
  }

  /* ------------------------ What are we doing ------------------------ */

  .example {
    display: block;
    padding-top: 0;
  }

  .work-list {
    display: flex;
    gap: 24px;
  }

  /* ------------------------ Our Team ------------------------ */
  .team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .team-item:not(:last-child) {
    margin-bottom: 0;
  }

  /* ------------------------ customers ------------------------ */

  .customers-content > .container {
    width: 100%;
  }

  .customers-item {
    width: calc((100% - 24px * 5) / 6);
    height: 88px;
  }

  .customers-item:nth-child(-n + 3) {
    margin-bottom: 0;
  }

  /* ------------------------ footer ------------------------ */

  .footer .container {
    width: 100%;
  }

  .footer > .container {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-tablet {
    display: flex;
    gap: 120px;
  }

  .footer-social-nav {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
  }

  .footer-social-name,
  .footer-logo {
    text-align: inherit;
  }

  .footer-social {
    margin-bottom: 0;
  }

  .footer-social {
    margin-right: 80px;
  }

  .footer-tablet > .footer-item {
    margin-bottom: 0;
  }

  .footer-mail {
    width: 264px;
  }

  .subscribe {
    width: 453px;
  }

  .subscribe-tablet {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .button-subscribe {
    display: flex;
    margin: 0 auto;
  }

  .footer-subscribe {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
  }

  /* -----------------------portfolio------------------------ */

  .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .portfolio-content {
    box-shadow: none;
  }

  .portfolio-item:not(:last-child) {
    margin-bottom: 0;
  }

  .portfolio-nav {
    display: flex;
    gap: 24px;

    justify-content: center;

    margin-bottom: 76px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;

    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-list > li {
    flex-basis: calc((100% - 24px * 2) / 3);
  }

  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1158px;
    }
  }
}
