@media screen and (min-width: 1px) and (max-width: 767px) {

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

  /* ------------------------header------------------------ */

  .page-header > .container {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-nav {
    display: none;
  }

  .site-nav {
    display: none;
  }

  .auth-nav {
    display: flex;
    gap: 40px;
    padding: var(--padding-nav);
  }

  .logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
  }

  .header-link {
    display: block;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
  }

  .address {
    display: none;
    margin-left: auto;
  }

  /* ------------------------hero------------------------ */

  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-title {
    font-size: 36px;
    line-height: calc(40 / 36);
    margin-bottom: 72px;
  }

  /* ------------------------ order ------------------------ */

  .list-svg {
    display: none;
  }

  .list:not(:last-child) {
    margin-bottom: 72px;
  }

  /* ------------------------ What are we doing ------------------------ */

  .example {
    display: none;
  }

  /* ------------------------ Our Team ------------------------ */

  .team-item:not(:last-child) {
    margin-bottom: 72px;
  }

  /* ------------------------ customers ------------------------ */

  .customers-item {
    width: calc((100% - 16px * 3) / 2);
    height: 88px;
    margin-bottom: 72px;
  }

  /* ------------------------ footer ------------------------ */

  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer-social {
    margin-bottom: 72px;
  }

  .footer-social-name {
    display: block;
    text-align: center;
  }

  .footer-social-nav {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
  }

  .footer-subscribe {
    display: inline-block;
    width: 100%;
    margin-bottom: 24px;
  }

  .button-subscribe {
    display: flex;
    margin: 0 auto;
  }

  @media screen and (min-width: 480px) {
    .container {
      max-width: 458px;
    }
  }
}
