:root {
  --main-color: #ffffff;
  --color-page: #434455;
  --main-color-h: #2e2f42;
  --button-bg: #4d5ae5;
  --button-nav: #e7e9fc;
  --button-hover: #404bbf;
  --team-color: #2e2f42;
  --color-footer: #e7e9fc;
  --logo-footer: #f4f4fd;
  --modal-color: #fcfcfc;
  --padding-nav: 24px 0;
  --hover-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --grad: linear-gradient(
    to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
}

body {
  background-color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--main-color-h);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* ------------------------ header ------------------------ */

.page-header > .container {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-name {
  color: var(--button-bg);
}

.logo {
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-color-h);
  text-transform: uppercase;
}

.header-nav {
  display: none;
}

.site-nav {
  display: none;
}

.header-link {
  display: block;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.02em;
  color: var(--main-color-h);
  text-decoration: none;
  padding: var(--padding-nav);

  transition: color var(--hover-time);
}

.address {
  display: none;
  margin-left: auto;
}

.auth-nav {
  display: flex;
  gap: 40px;
}

.auth-nav a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-page);

  font-style: normal;
  transition: color var(--hover-time);
}

.mob-button {
  position: absolute;
  top: 24px;
  right: 18px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.mob-icon {
  stroke: #2e2f42;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: var(--main-color);
}

.container-mob {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 478px;
  height: 100%;
  padding-top: 80px;
  padding-left: 40px;
  margin: 0 auto;
}

.header-link-mob {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.mob-list:not(:last-child) {
  margin-bottom: 40px;
}

.mob-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin-bottom: 48px;
}

.mob-tel {
  margin-bottom: 40px;
}

.mob-address {
  margin-bottom: 48px;
}

.social-mob {
  list-style: none;
  display: flex;
  justify-content: start;
  gap: 56px;
  margin-bottom: 40px;
  list-style-type: none;
}

.btc-mob {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: background var(--hover-time), color var(--hover-time);
}

.link-tel {
  font-weight: 600;
  font-size: 36px;
  line-height: calc(40 / 36);

  color: #434455;
  font-style: normal;
  text-decoration: none;
}

.link-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;

  color: #434455;
  font-style: normal;
  text-decoration: none;
}

.mob-auth-nav {
  display: block;
}

.no-scroll {
  overflow: hidden;
}

.header-link:hover,
.header-link:focus,
.link:hover,
.link:hover,
.link-tel:hover,
.link-tel:focus,
.link-mail:hover,
.link-mail:focus,
.header-link-mob:hover,
.header-link-mob:focus {
  color: var(--button-hover);
}

.page-header .site-nav,
.page-header .auth-nav {
  list-style-type: none;
}

/* ------------------------ hero ------------------------ */
.hero {
  margin: 0 auto;

  background-image: var(--grad), url(../images/img-1x/mob-img/bg-mob.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: var(--main-color-h);

  padding-top: 112px;
  padding-bottom: 112px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--grad),
      url(../images/img-2x/mob-img-2x/bg-mob-2x.jpg);
  }
}

.hero-title {
  font-size: 36px;
  line-height: calc(40 / 36);
  margin-bottom: 72px;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--main-color);
}

.button-hero {
  font-family: "Roboto";
  font-weight: 500;
  background: var(--button-bg);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-color);
  cursor: pointer;

  display: flex;
  padding: 16px 32px;
  gap: 10px;

  border-radius: 4px;
  border: none;

  margin: 0 auto;

  transition: background var(--hover-time), color var(--hover-time);
}

.button {
  font-family: "Roboto";
  font-weight: 500;
  background: var(--button-nav);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-bg);
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  min-width: 100%;
  height: 48px;

  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition: background var(--hover-time), color var(--hover-time),
    border-color var(--hover-time), box-shadow var(--hover-time);
}

.hero button:hover,
.hero button:focus {
  background: var(--button-hover);
  color: var(--main-color);
}

.portfolio-nav button:hover,
.portfolio-nav button:focus {
  background: var(--button-hover);
  color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: var(--button-hover);
}

/* ------------------------ order ------------------------ */
.order-list,
.work-list,
.team-list,
.portfolio-nav,
.portfolio-list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list-svg {
  display: none;
}

.list:not(:last-child) {
  margin-bottom: 72px;
}

.order-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  color: var(--main-color-h);
  text-align: center;
  margin-bottom: 8px;
}

.order-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-page);
}

/* ------------------------ What are we doing ------------------------ */

.example {
  display: none;
}

/* ------------------------ modal ------------------------ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);
  opacity: 1;
  scale: 1;
  transition: scale var(--hover-time), visibility var(--hover-time),
    opacity var(--hover-time);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  scale: 0;
  pointer-events: none;
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 408px;
  min-height: 576px;
  background: var(--modal-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 72px 24px 24px 24px;
}

.button-modal {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.1);

  background: url(../images/close.svg);

  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: background var(--hover-time), color var(--hover-time);
}

.button-modal {
  background-color: #e7e9fc;
}

.hero .button-modal:hover,
.hero .button-modal:focus,
.btc-mob:hover,
.btc-mob:focus {
  background: url(../images/close-2.svg);
  background-repeat: no-repeat;
  background-position: center;

  background-color: #404bbf;
}

.form-group,
.feedback-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  margin-bottom: 8px;
}

.user-info {
  display: block;
  margin-bottom: 4px;
}

.modal-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--team-color);

  margin-bottom: 10px;
}

.info-style {
  width: 360px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background: var(--modal-color);
  padding-left: 38px;

  transition: border-color var(--hover-time);
}

.info-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--main-color-h);

  transition: fill var(--hover-time);
}

.info-style:focus,
.feedback-info:focus,
.footer-mail:focus {
  border: 1px solid var(--button-bg);
  outline: transparent;
}

.info-style:focus ~ .info-icon {
  fill: var(--button-bg);
}

.info-name {
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.feedback {
  margin-bottom: 4px;
}

.feedback-group {
  margin-bottom: 16px;
}

.feedback-info {
  width: 360px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background: var(--modal-color);

  padding-top: 8px;
  padding-left: 16px;

  resize: none;

  transition: border-color var(--hover-time);
}

.feedback-info::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.policy-group {
  margin-bottom: 24px;
}

.policy {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.checkbox {
  appearance: none;
  position: absolute;
}

.checkbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  background-color: var(--modal-color);
  transition: border-color var(--hover-time), background-color var(--hover-time);
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--button-hover);
  border-color: var(--button-hover);
}

.policy-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: #757575;
}

.policy-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
}

.button-info {
  width: 169px;
  background: var(--button-bg);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--main-color);
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  cursor: pointer;

  transition: background var(--hover-time), color var(--hover-time);
}

/* ------------------------ Our Team ------------------------ */

.section-team {
  background-color: var(--logo-footer);
}

.work,
.team,
.customers {
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-color-h);
  margin-bottom: 72px;
}

.team-item {
  width: 264px;
  margin: 0 auto;
  background-color: var(--main-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item:not(:last-child) {
  margin-bottom: 72px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--team-color);
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-page);
  margin-bottom: 8px;
}

.team-content {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.social {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;

  background-color: var(--button-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background var(--hover-time);
}

a:focus {
  outline: transparent;
}

.social-link:is(:hover, :focus) {
  background-color: var(--button-hover);
}

/* ------------------------ customers ------------------------ */

.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;

  list-style-type: none;
}

.customers-link {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;

  transition: color var(--hover-time), border-color var(--hover-time);
}

.customers-icon {
  fill: currentColor;
}

.customers-link:is(:hover, :focus) {
  border-color: var(--button-hover);
  color: var(--button-hover);
}

.customers-item {
  width: calc((100% - 16px * 3) / 2);
  height: 88px;
}

.customers-item:nth-child(-n + 4) {
  margin-bottom: 72px;
}

/* ------------------------ footer ------------------------ */

.footer {
  background-color: var(--main-color-h);

  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: var(--logo-footer);

  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-footer);

  width: 264px;

  margin: 0 auto;
}

.footer-item {
  margin-bottom: 72px;
}

.footer-social-nav {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
}

.footer-social {
  margin-bottom: 72px;
}

.footer-social-name {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--main-color);
  margin-bottom: 16px;
}

.footer-social-list {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background var(--hover-time);
}

.footer-social-link:is(:hover, :focus) {
  background: #31d0aa;
}

.footer-mail {
  width: 100%;
  height: 40px;

  background: var(--main-color-h);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--main-color);
  padding-left: 16px;
  margin: 0;

  transition: border-color var(--hover-time);
}

.footer-subscribe {
  display: inline-block;
  width: 100%;
  margin-bottom: 24px;
}

.button-subscribe {
  display: flex;

  background: var(--button-bg);
  border-radius: 4px;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--main-color);
  padding: 8px 64px 8px 24px;
  margin: 0 auto;

  cursor: pointer;

  transition: background var(--hover-time), color var(--hover-time);
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #404bbf;
}

.button-subscribe {
  position: relative;
}

.sudscribe-icon {
  position: absolute;
  right: 24px;
  fill: var(--main-color);
}

/* portfolio */

.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

.portfolio-nav {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: start;

  margin-bottom: 48px;
}

.portfolio-list {
  display: block;
}

.portfolio-item:not(:last-child) {
  margin-bottom: 48px;
}

.portfolio-content {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  padding: 32px 16px;
}

.portfolio-item > .link {
  display: inline-block;
}

.portfolio-item > .link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--team-color);

  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-page);
}

.link-card {
  position: relative;
  overflow: hidden;
}

.link-card-text {
  position: absolute;
  top: 0;
  left: 0;

  content: "";
  width: 100%;
  height: 100%;

  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px 164px 32px;

  background: var(--button-bg);
  transform: translateY(100%);
  transition: transform var(--hover-time);
}

.portfolio-item:hover .link-card-text {
  transform: translateY(0);
}

@media screen and (max-width: 427px) {
  .social-mob {
    gap: 24px;
  }

  .link-tel {
    font-size: 24px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
